:root {
    --main-background: #be8c68;
    --main-text: #222222;
    --section-text: #FDFDFD;
    --section-background: #204057;
    --h1-text: #644032;
    --link-text: #2984d9;
    --comment-text: #ff0000;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: var(--main-background);
    color: var(--main-text);
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

section {
    background-color: var(--section-background);
    color: var(--section-text);
    margin: 20px 0px;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: var(--h1-text);
}

h2 {
    color: var(--section-text);
}

a {
    color: var(--section-text);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.home ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-left: 0;

    li {
        background-color: var(--section-background);
        text-align: center;
        margin: 10px;
        padding: 50px;
        border-radius: 10px;
    }
}

.navigation ul {
    background-color: var(--section-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;

    li {
        text-align: center;
        background-color: var(--h1-text);
        padding: 10px;
        border-radius: 10px;
    }
}

#\32\.0 a {
    color: #2984d9;
    text-decoration: underline;
}

#\33\.0 a {
    color: var(--link-text);
    text-decoration: underline;
}

#\33\.5 a {
    color: var(--link-text);
    text-decoration: underline;
}

#unknown a {
    color: var(--link-text);
    text-decoration: underline;
}

.link a {
    color: var(--link-text);
    text-decoration: underline;
}

.comment {
    color: var(--comment-text);
}

img {
    display: block;
    margin: auto;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    left: -300px;
    /* Initially off-screen */
    top: 0;
    width: 250px;
    height: 100%;
    background-color: var(--section-background);
    transition: left 0.3s ease-in-out;
    padding: 20px;
}

.sidebar.open {
    left: 0;
    /* Slide in */
}

.sidebar ul {
    padding: 0;
    margin-top: 75px;
}

.sidebar li {
    background-color: var(--h1-text);
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
}

.sidebar a {
    color: var(--section-text);
    text-decoration: none;
}

/* Sidebar Toggle Button */
.sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: var(--h1-text);
    color: var(--section-text);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1000;
    /* To stay above the sidebar */
}

footer {
    text-align: center;
}

@media screen and (max-width: 1150px) {
    .home ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 870px) {
    .home ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 590px) {
    .home ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .navigation {
        padding-top: 80px;

        ul {
            flex-direction: column;
            gap: 10px;
        }
    }

    .sidebar-toggle {
        left: 35%;
    }
}

/* @media screen and (min-width: 501px) {

}

@media screen and (min-width: 1025px) {

} */